appdirs==1.4.3
APScheduler==3.6.1
asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
beautifulsoup4==4.8.0
blinker==1.4
brotlipy==0.7.0
bs4==0.0.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
Flask==1.1.1
Flask-Compress==1.4.0
Flask-SQLAlchemy==2.4.0
h11==0.7.0
h2==3.1.1
hpack==3.0.0
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
Js2Py==0.66
kaitaistruct==0.8
ldap3==2.5.2
logparser==0.8.1
lxml==4.4.0
MarkupSafe==1.1.1
mitmproxy==4.0.4
MouseInfo==0.0.4
openpyxl==2.6.2
parse==1.12.1
parsel==1.5.1
passlib==1.7.1
Pillow==6.1.0
prompt-toolkit==2.0.9
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyDispatcher==2.0.5
pydivert==2.1.0
pyee==6.0.0
Pygments==2.4.2
PyHamcrest==1.9.0
pyjsparser==2.7.1
pymongo==3.8.0
PyMsgBox==1.0.7
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.2.2
pyperclip==1.7.0
pyppeteer==0.0.25
pyquery==1.4.0
PyRect==0.1.4
PyScreeze==0.1.22
PyTweening==1.0.3
pytz==2019.2
queuelib==1.5.0
redis==2.10.6
requests==2.22.0
requests-html==0.10.0
ruamel.yaml==0.15.100
Scrapy==1.7.2
scrapy-redis==0.6.8
scrapy-splash==0.7.2
scrapyd==1.2.1
scrapyd-client==1.1.0
scrapydweb==1.2.0
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
sortedcontainers==2.0.5
soupsieve==1.9.3
SQLAlchemy==1.3.6
tornado==5.1.1
tqdm==4.33.0
Twisted==22.1.0
tzlocal==2.0.0
urllib3==1.25.3
urwid==2.0.1
w3lib==1.20.0
wcwidth==0.1.7
websockets==6.0
Werkzeug==0.15.5
wsproto==0.11.0
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
zope.interface==4.6.0
