# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = goodsdata.settings

[deploy:tb]
#url = http://http://192.168.1.45:6800/
project = goodsdata

